---
import Rendered from "@layouts/Rendered.astro";
---

<Rendered title="About" desc="About page">
  <h1>About:</h1>
  <p>
    This site will store and aggregate scripts, tools and other snippets related
    to nekoweb for people like yourself to use on their own site.
  </p>
  <p>
    While most of these are for Nekoweb, some may be useful for other web
    projects aswell such as <a href="https://neocities.org/">neocities</a> or
    <a href="https://leprd.space/">leprd</a>.
  </p>
  <p>
    This site was made by <a href="https://lel.nekoweb.org/">lel</a> and everyone
    who's script was mentioned.
  </p>
</Rendered>
