---
import Main from "../layouts/Main.astro";
---

<Main
  ><div class="text-center">
    <h1 class="font-sans-alt text-9xl">404</h1>
    <h2 class="text-xl">Snippet not found</h2>
    <br /><br /><br /><p>
      Im still adding features so alot of pages wont work just yet
    </p>
  </div>
</Main>
