---

---

<section id="hero">
  <h1 id="title" class="leading-tight">
    Nekoweb Snippets<br />from all over
    <a href="https://nekoweb.org/">nekoweb.org</a>
  </h1>
  <h2>
    View user-submitted and aggregated snippets related to <code
      ><pre>Nekoweb</pre></code
    >
  </h2>
  <section id="links">
    <a class="button" href="/snippets/">View Snippets</a>
    <a href="https://lel.nekoweb.org/"
      >by lel<svg
        width="30px"
        height="30px"
        viewBox="0 0 512 512"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill="currentColor"
          d="M359.95,109.454c2.318,-3.552 5.085,-7.414 8.3,-11.588c3.667,-4.759 7.542,-9.518 11.625,-14.277c4.083,-4.76 8.875,-9.654 14.375,-14.682c5.5,-5.029 11.167,-9.609 17,-13.739c11.5,-8.262 21.458,-14.188 29.875,-17.78c8.417,-3.592 17.375,-5.388 26.875,-5.388c5,10.596 16.292,37.85 13.875,81.761c-1.602,29.106 -3.808,51.169 -6.618,66.191c23.322,28.824 36.743,64.918 36.743,108.048c0,136.039 -114.615,192 -256,192c-141.385,0 -256,-45.961 -256,-192c0,-43.13 13.421,-79.224 36.743,-108.048c-2.81,-15.022 -5.016,-37.085 -6.618,-66.191c-2.417,-43.911 8.875,-71.165 13.875,-81.761c9.5,0 18.458,1.796 26.875,5.388c8.417,3.592 18.375,9.518 29.875,17.78c5.833,4.13 11.5,8.71 17,13.739c5.5,5.029 10.292,9.922 14.375,14.682c4.083,4.759 7.958,9.518 11.625,14.278c3.215,4.173 5.982,8.035 8.3,11.587c31.765,-8.934 66.94,-13.454 103.95,-13.454c36.981,0 72.129,4.513 103.95,13.454Zm-199.95,226.546c-8.837,0 -16,7.163 -16,16c0,33.106 32.34,54 64,54c14.677,0 29.76,-2.434 41.774,-9.178c2.185,-1.227 4.27,-2.604 6.226,-4.128c1.956,1.524 4.041,2.901 6.226,4.128c12.014,6.744 27.097,9.178 41.774,9.178c31.66,0 64,-20.894 64,-54c0,-8.837 -7.163,-16 -16,-16c-8.837,0 -16,7.163 -16,16c0,8.868 -10.64,22 -32,22c-11.833,0 -20.75,-2.073 -26.108,-5.082c-4.524,-2.539 -5.892,-5.155 -5.892,-8.918c0,-8.837 -7.163,-16 -16,-16c-8.837,0 -16,7.163 -16,16c0,3.763 -1.368,6.379 -5.892,8.918c-5.358,3.009 -14.275,5.082 -26.108,5.082c-21.36,0 -32,-13.132 -32,-22c0,-8.837 -7.163,-16 -16,-16Zm16,-80c0,-17.673 -14.327,-32 -32,-32c-17.673,0 -32,14.327 -32,32c0,17.673 14.327,32 32,32c17.673,0 32,-14.327 32,-32Zm192,32c17.673,0 32,-14.327 32,-32c0,-17.673 -14.327,-32 -32,-32c-17.673,0 -32,14.327 -32,32c0,17.673 14.327,32 32,32Z"
        ></path></svg
      >
    </a>
  </section>
</section>

<style>
  #hero {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
  }

  #title {
    font-size: 80px;
    font-family: "Instrument Serif", "Times New Roman", "Times", serif;
    font-weight: 100;
  }

  h1 a {
    color: #89dceb;
    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
    font-weight: 900;
  }
  h1 a:hover {
    color: #04a5e5;
  }

  h2 {
    font-size: 22px;
    margin-top: 0.25em;
  }

  #links {
    display: flex;
    gap: 16px;
  }

  #links a {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    /* color: #111827; */
    text-decoration: none;
    transition: color 0.2s;
  }

  #links a:hover {
    color: rgb(78, 80, 86);
  }

  #links a svg {
    height: 1em;
    margin-left: 8px;
  }

  #links a.button {
    color: white;
    background: linear-gradient(83.21deg, #40a02b 0%, #179299 100%);
    box-shadow:
      inset 0 0 0 1px rgba(255, 255, 255, 0.12),
      inset 0 -2px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
  }

  #links a.button:hover {
    color: rgb(230, 230, 230);
    box-shadow: none;
  }
  #links a.button:active {
    color: rgb(200, 200, 200);
    box-shadow:
      inset 0 0 0 1px rgba(255, 255, 255, 0.12),
      inset 0 -2px 0 rgba(0, 0, 0, 0.24);
  }

  pre {
    font-family: "Jetbrains Mono", "Cascadia Code", "Source Code Pro", "Menlo",
      "Consolas", "DejaVu Sans Mono", monospace;
    font-weight: normal;
    background: linear-gradient(14deg, #40a02b 0%, #179299 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
  }

  /* h2 {
    margin: 0 0 1em;
    font-weight: normal;
    color: #111827;
    font-size: 20px;
  }

  p {
    color: #4b5563;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.006em;
    margin: 0;
  } */

  code {
    display: inline-block;
    background:
      linear-gradient(66.77deg, #a6e3a1 0%, #94e2d5 100%) padding-box,
      linear-gradient(155deg, #40a02b 0%, #179299 18%, #f5cee7 45%) border-box;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 6px 8px;
  }

  body::selection {
    color: white;
    background-color: #179299;
  }

  @media screen and (max-width: 768px) {
    #container {
      display: flex;
      flex-direction: column;
    }

    #hero {
      display: block;
      padding-top: 10%;
    }

    #links {
      flex-wrap: wrap;
    }

    #links a.button {
      padding: 14px 18px;
    }

    h2 {
      line-height: 1.5;
    }
  }
</style>
