---
import { getCollection } from "astro:content";
import Main from "../../layouts/Main.astro";
import "../../styles/post.css";
import "remark-github-blockquote-alert/alert.css";

export async function getStaticPaths() {
  const scripts = await getCollection("scripts");

  return scripts.map((entry) => ({
    params: { script: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Main title={entry.data.title}
  ><div
    id="content"
    class="prose prose-slate m-10 h-fit min-w-[70%] lg:prose-xl dark:prose-invert"
  >
    <h1>{entry.data.title}</h1>
    <a class="text-slate-600 no-underline">By {entry.data.author}</a>
    <article><Content /></article>
  </div>
</Main>
