---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import "../../styles/post.css";
import "remark-github-blockquote-alert/alert.css";

export async function getStaticPaths() {
  const scripts = await getCollection("scripts");

  return scripts.map((entry) => ({
    params: { script: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}
  ><div
    id="content"
    class="prose prose-slate m-10 h-fit min-w-[70%] lg:prose-xl dark:prose-invert"
  >
    <h1>{entry.data.title}</h1>
    <h2>By {entry.data.author}</h2>
    <article><Content /></article>
  </div>
</Layout>

<style>
  h2 {
    margin: 0 0 1em;
    font-weight: normal;
    font-size: 20px;
  }

  main {
    display: block;
    padding: 100px;
  }
</style>
