---
import Main from "../../layouts/Main.astro";

import { getCollection } from "astro:content";

const scripts = await getCollection("scripts");
const authors = await getCollection("authors");
---

<Main title="Index" desc="Index of Snippets">
  <div id="container" class="h-full font-sans">
    <h1 class="m-10 my-2 text-2xl">Snippets</h1>
    <section class="flex gap-10">
      {
        scripts.map((entry) => {
          const authorData = authors.find(
            (author) => author.id === entry.data.author.id,
          );
          const { title } = entry.data;
          return (
            <div class="m-1 h-fit w-96 rounded-xl bg-box-light p-8 dark:bg-box-dark">
              <img
                src={`/og/snippets/${entry.slug}/.png`}
                alt={title}
                loading="eager"
                decoding="async"
              />
              <br />
              <a href={entry.slug}>{title}</a>
              <p class="text-neutral-500">
                by {authorData ? authorData.data.name : "Unknown Author"}
              </p>
            </div>
          );
        })
      }
    </section>
    <h2 class="m-20 text-center text-4xl">And more to be added</h2>
  </div>
</Main>
