---
import More from "@components/More.astro";
import Main from "./Main.astro";

const { title, desc, heading } = Astro.props;
---

<Main {title} {desc}>
  <div id="container" class="h-full font-sans">
    <h1 class="m-10 my-2 text-2xl">{heading}</h1>
    <section class="flex gap-10">
      <slot />
    </section>
    <More />
  </div>
</Main>
