---
import { getCollection } from "astro:content";
import Main from "../../layouts/Main.astro";
import "../../styles/post.css";
import "remark-github-blockquote-alert/alert.css";

export async function getStaticPaths() {
  const FAQ = await getCollection("FAQ");

  return FAQ.map((entry) => ({
    params: { FAQ: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Main title={entry.data.title}
  ><div
    id="content"
    class="prose prose-slate m-10 h-fit min-w-[70%] lg:prose-xl dark:prose-invert"
  >
    <h1 class="font-sans-alt">{entry.data.title}</h1>
    <article><Content /></article>
  </div>
</Main>
