---
import Layout from "../../layouts/Layout.astro";

import { getCollection } from "astro:content";

const FAQ = await getCollection("FAQ");
---

<Layout title="Index" desc="Index of FAQs">
  <div id="container" class="h-full font-sans">
    <h1 class="m-10 my-2 text-3xl">FAQ</h1>
    <section class="flex gap-10">
      <div id="FAQs-list">
        {
          FAQ.map((entry) => {
            const { title } = entry.data;
            return (
              <div class="bg-box-light dark:bg-box-dark m-1 h-fit w-96 rounded-xl p-8">
                <a href={entry.slug}>{title} </a>
              </div>
            );
          })
        }
      </div>
    </section>
  </div>
</Layout>
